body {
  background-color: ghostwhite;
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  border: 1px dotted pink;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  margin-top: 50px;
  margin-left: 20%;
}

form {
  margin-top: 60px;
  margin-left: 30%;

}

.container {
  margin: 10px 30px 20px 30px;
  border: 1px solid pink;
}

div {
  font-size: 20px;
  font-family: 'Arapey', serif;
  margin-left: 27%;
}

h2 {
  font-family: 'Arapey', serif;
  margin-left: 30%;
}

.header-img {
  width: 30%;
  margin-left: 50%;
  opacity: 0.8;
  margin-top: -40%;
}
