
.content {
  background-color: white;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}


.logo {
  margin: 30px 0 0 150px;
}
/* h1 {
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  margin-top: 50px;
  margin-left: 10%;
} */

form {
  margin-top: 60px;
  margin-left: 30%;

}

.container {
  margin: 0 auto;
  width: 1000px;
  height: 1000px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-box {
  font-size: 20px;
  font-family: 'Arapey', serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  margin: 10px;
  max-width: 300px;
  text-align: center;
}

h2 {
  font-family: 'Arapey', serif;
  text-align: center;
}

.header-img {
  display: inline-block;
  width: 40%;
  margin-left: 50%;
  opacity: 0.8;
  margin-top: -40%;
}

.input-box {
  border-radius: 10px;
  border: 2px solid pink;
  height: 30px;
  width: 200px;
  font-family: 'Arapey', serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.submit-button {
  font-family: 'Arapey', serif;
  font-size: 16px;
  color: black;
  background-color: #FE7171;
  padding: 8px;
  border-radius: 10px;
}

.recipe-img {
  max-width: 80%;
  height: auto;
}

.recipe-name {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
  font-weight: bold;
}

label {
  font-family: 'Arapey', serif;
  font-size: 20px;
  padding: 10px;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
  left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}

.ingredient-list {
  text-align: center;
  font-family: 'Arapey', serif;
  font-size: 30px;
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 10px;
}

h3 {
  font-family: 'Arapey', serif;
  font-size: 30px;
}
